<div class="container">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>


  <div class="row">
    <div class="field">
      <%= f.label :username, class: "col-md-2 control-label text-right" %> <br>
      <div class="col-md-9">
        <%= f.text_field :username, autofocus: true, class: "form-control" %>
      </div>
      <div class="col-md-1">
      </div>
   </div>
  </div>

  <div class="row">
    <div class="field">
      <%= f.label :tell_us_about_yourself, class: "col-md-2 control-label text-right" %> <br>
      <div class="col-md-9">
        <%= f.text_area :user_description, class: "form-control", rows: "4"%>
        <br>
      </div>
      <div class="col-md-1">
      </div>
    </div>
  </div>


  <div class="row">
    <div class="field">
      <%= f.label :email, class: "col-md-2 control-label text-right" %><br />
      <div class="col-md-9">
        <%= f.email_field :email, class: "form-control" %>
        <br>
      </div>
      <div class="col-md-1">
      </div>
    </div>
  </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    <% if !f.object.email.include?("twitter") %>

    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-4">
        <em class="form-text text-muted">(Leave blank if you don't want to change it
        <% if @minimum_password_length %>
          <em class="form-text text-muted"><%= @minimum_password_length %> characters minimum</em>
        <% end %>)
      </em>
      </div>
      <div class="col-md-6">
      </div>
    </div>

  <div class="row">
    <div class="field">
      <%= f.label :password, class: "col-md-2 control-label text-right" %>
      <br />
      <div class="col-md-9">
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>
    <div class="col-md-1">
    </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-4">
      <br><em class="form-text text-muted">(Confirm password change)</em>
    </div>
      <div class="col-md-6">
      </div>
  </div>

  <div class="row">
    <div class="field">
      <%= f.label :password_confirmation, class: "col-md-2 control-label text-right" %><br />
      <div class="col-md-9">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %><br>
      </div>
      <div class="col-md-1">
      </div>
    </div>
  </div>

    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-4">
        <em class="form-text text-muted">(We need your current password to confirm your changes*)</em>
        <div class="col-md-6">
        </div>
      </div>
    </div>

  <div class="row">
    <div class="field">
      <%= f.label :current_password, class: "required col-md-2 control-label text-right" %> <br />
      <div class="col-md-9">
      <%= f.password_field :current_password, autocomplete: "off", class: "form-control", :required => true%>
    </div>
      <div class="col-md-1">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="field">
      <%= f.label :image, class: "col-md-2 control-label text-right" %> <br>
      <div class="col-md-9">
        <%= f.file_field :image, class: "form-control-file" %>
      </div>
    </div>
  </div>
  <% end %> <!-- ends form -->

  <div class="row">
    <div class="col-md-3 text-right">
    </div>
      <div class="actions">
        <%= f.submit "Update", :id => 'main_menu_submit_button', :class => "btn btn-default col-md-7 text-right"%>
      </div>
      <div class="col-md-2">
      </div>
  </div>

<% end %>


<div class="row">
  <div class="col-md-11 text-right cancel_account">
    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "btn btn-xs btn-default" %></p>
  </div>
  <div class="col-md-1">
  </div>
</div>

  <%= link_to "Back", :back %>

</div>
