<h1>Search Adventures</h1>

<label>Browse by category:</label>
<ul>
  <%@categories.each do |category|%>
    <li><a href="/categories/<%=category.id%>" target="_blank"><%=category.category_name%></a></li>
  <%end%>
</ul>

<label>Search by keywords:</label>
<form action="/adventures" method="get">
  <input type="text" name="search">
  <input type="submit" value="Search">
</form>

<h3>All Adventures</h3>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Directions</th>
      <th>Description</th>
      <th>User</th>
      <th>Category</th>
      <th>Photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adventures.each do |adventure| %>
      <tr>
        <td><%= adventure.name %></td>
        <td><%= adventure.address %></td>
        <td><%= adventure.directions %></td>
        <td><%= adventure.description %></td>
        <td><%= adventure.user.username %></td>
        <td><%= adventure.category.category_name %></td>
        <td><%= image_tag adventure.images.first.image.url(:thumbnail) %></td>
        <td><%= link_to 'Show', adventure %></td>
        <% if !current_user.nil? %>
          <td><%= link_to 'Edit', edit_adventure_path(adventure) %></td>
          <td><%= link_to 'Destroy', adventure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if !current_user.nil? %>
  <%= link_to 'New Adventure', new_adventure_path, :class => "btn btn-default" %>
<% end %>
