

<p>
  <strong>Name:</strong>
  <%= @adventure.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @adventure.address %>
</p>

<p>
  <strong>Directions:</strong>
  <%= @adventure.directions %>
</p>

<p>
  <strong>Description:</strong>
  <%= @adventure.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @adventure.user.username %>
</p>

<p>

<strong>Category:</strong>
<%= @adventure.category.category_name %>
<strong>Photo:</strong>
<%= image_tag @adventure.image.url(:thumb) %>
</p>

<hr>
<!-- Map starts -->
<div id="adventureMap" data-adventure-id="<%=@adventure.id%>">
  ...Google map will appear here
</div>
<!-- Map ends  -->

<% if !current_user.nil? %>
  <%= link_to 'Edit', edit_adventure_path(@adventure) %>
<% end %>
| <%= link_to 'Back', adventures_path %>
<hr>
