<p>
  <strong>Name:</strong>
  <%= @adventure.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @adventure.address %>
</p>

<p>
  <strong>Directions:</strong>
  <%= @adventure.directions %>
</p>

<p>
  <strong>Description:</strong>
  <%= @adventure.description %>
</p>

<p>
  <strong>Last updated by:</strong>
  <%= @adventure.users[0].username %>
</p>

<p>
  <strong>Category:</strong>
  <%= @adventure.category.category_name %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag @adventure.image.url(:thumb) %>
</p>

<%= link_to 'Add New Post', new_post_path + "?adventure_id=" + @adventure.id.to_s, :class =>'btn btn-default' %>

<% if !current_user.nil? %>
  <%= link_to 'Edit', edit_adventure_path(@adventure) %>
<% end %>
| <%= link_to 'Back', adventures_path %>
