

<p>
  <strong>Name:</strong>
  <%= @adventure.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @adventure.address %>
</p>

<p>
  <strong>Directions:</strong>
  <%= @adventure.directions %>
</p>

<p>
  <strong>Description:</strong>
  <%= @adventure.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @adventure.user.username %>
</p>

<p>
  <strong>photo:</strong>
  <%= image_tag @adventure.image.url(:thumb) %>
</p>

<% if !current_user.nil? %>
  <%= link_to 'Edit', edit_adventure_path(@adventure) %>
<% end %>
| <%= link_to 'Back', adventures_path %>
