<%= form_for(@post, :html => { :class => 'form-horizontal', multipart: true }) do |f| %>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :adventure_id %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body, rows: "4"  %>
  </div>
  <div class="field">
    <%= f.label :post_images %> <br>
    <%= file_field_tag "images[]", type: :file, multiple: true  %>
  </div>
  <div class="actions">
    <%= f.submit :class => "btn btn-default"  %>
  </div>
<% end %>
