<%= form_for(@post, :html => { :class => 'form-horizontal', multipart: true }) do |f| %>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :adventure_id %>
<div class="row">
  <div class="field">
    <%= f.label :title, class: "col-md-2 control-label text-right" %><br>
    <div class="col-md-8">
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="col-md-2">
    </div>
  </>
  </div>
</div>

<div class="row">
  <div class="field">
    <%= f.label :body, class: "col-md-2 control-label text-right" %><br>
    <div class="col-md-8">
      <%= f.text_area :body, class: "form-control", rows: "4"  %>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>

<div class="row">
  <div class="field">
    <%= f.label :post_images, class: "col-md-2 control-label text-right" %> <br>
    <div class="col-md-10">
      <%= file_field_tag "images[]", type: :file, multiple: true, class: "form-control-file"  %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-offset-3 text-right">
    <div class="actions">
      <%= f.submit :class => "btn btn-default", :class => "btn btn-default col-sm-5 text-right"  %>
    </div>
  </div>
</div>

<% end %>
