<div class="row">
  <div class="col-md-6">
    <h1>Editing Post</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @post %> |
    <%= link_to 'Back', posts_path %>

</div>
<div class="col-md-6">
  <table class="edit_gallery">
    <tbody>
      <% @images.each do |set_of_images| %>
        <tr>
          <% set_of_images.each do |image| %>
            <td class="edit">
                <img class="delete" id="<%= image.id %>" src="<%=image.image.url(:thumbnail)%>"/>
            </td>
          <% end %>
        </tr>
      <% end %>
  </div>
</div>
