
  <div class="container">
    <br>
    <br>
    <h4>
      <strong><em>Join us as we venture forth into the known and unknown.</em></strong>
    </h4><br>
    <h3>Urban Exploring</h3>
    <p>
      Urban exploration (often shortened as urbex or UE, and sometimes known as 'roof-and-tunnel hacking') is the exploration of man-made structures, usually abandoned ruins or not usually seen components of the man-made environment. Photography and historical interest/documentation are heavily featured in the hobby and, although it may sometimes involve trespassing onto private property, this is not always the case. Urban exploration is also commonly referred to as infiltration, although some people consider infiltration to be more closely associated with the exploration of active or inhabited sites. It may also be referred to as draining (when exploring drains), urban spelunking, urban rock climbing, urban caving, or building hacking.
    </p>

    <p>
      The nature of this activity presents various risks, including both physical danger and the possibility of arrest and punishment. Some activities associated with urban exploration may violate local or regional laws and certain broadly interpreted anti-terrorism laws or be considered trespassing or invasion of privacy.
    </p>
    <div class="row">
      <div class="col-md-12 text-center">

        <%=image_tag("rsz_image7.jpg", :id => "about_main_picture")%>

      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <%=image_tag("rsz_image2.jpg", :class => "about_small_pictures")%>
      </div>
      <div class="col-sm-3">
        <%=image_tag("rsz_image4.jpg", :class => "about_small_pictures")%>
      </div>
      <div class="col-sm-3">
        <%=image_tag("rsz_image8.jpg", :class => "about_small_pictures")%>
      </div>
      <div class="col-sm-3">
        <%=image_tag("rsz_image9.jpg", :class => "about_small_pictures")%>
      </div>
    </div>

    <div class="row">
      <h3>The Unspoken Rules Of UrbEx</h3>
        <p>
          There are a few unspoken rules in Urban Exploration, and one should be cognizant of the protocol in order to be fully accepted and trusted as a new member of the sub-culture.
        </p>
        <p>
          The most common and oft-quoted rule follows the mantra of Urban Exploring: “Take only photographs, leave only footprints.” Though not all urban explorers follow this directive, the vast majority do. Many abandonments possess a treasure trove of esoteric objects, unique contraptions, rare industrial components, or special antique items that could sell for a handsome profit on eBay. Despite all this, the community has decided to officially condem taking any object from a building.
        </p>
        <p>
          Graffiti and vandalism are generally condemned, but there are exceptions. It should be noted that urban explorers are a diverse group of tens of thousands, potentially hundreds of thousands. The diversity of opinions falls in both extremes, but the moderate and mean consensus generally follows the rule of law except for the very notable exception of Trespass.
        </p>
        <p>
          As of now, there is no officially sanctioned urban exploration moral codex. In fact, “following the rules” would run counter to the central principle of exploring. For this reason, urban explorers have a general understanding of the community’s moral compass and make of it what they will.
        </p>
    </div>

    <div class="row">
    <h3>The Company</h3>
    <p>
      UrbEx was founded in 2016 by the members of Team Illuminati at LEARN Academy. Our excellent team is composed of five brave and steadfast urban exploring enthusiasts/web-developing extraordinares: Lea Ann, Kelli, Sophie, Adam, and Vivian.
    </p>

  </div>

  <div class="row">
    <div class="col-sm-6 col-md-2 col-md-offset-1">
      <div class="thumbnail">
        <%=image_tag("lea.jpg", :class => "about_small_pictures")%>
        <div class="caption">
          <h4>Lea Ann Bradford</h4>
          <p>Full Stack Web Developer</p>
        </div>
      </div>
    </div>


  <div class="col-sm-6 col-md-2">
    <div class="thumbnail">
      <%=image_tag("kelli.jpg", :class => "about_small_pictures")%>
      <div class="caption">
        <h4>Kelli Nolan</h4>
        <p>Full Stack Web Developer</p>
      </div>
    </div>
  </div>


  <div class="col-sm-6 col-md-2">
    <div class="thumbnail">
      <%=image_tag("sophie.jpg", :class => "about_small_pictures")%>
      <div class="caption">
        <h4>Sophie Merkley</h4>
        <p>Full Stack Web Developer</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-2">
    <div class="thumbnail">
      <%=image_tag("adam.jpg", :class => "about_small_pictures")%>
      <div class="caption">
        <h4>Adam Andrus</h4>
        <p>Full Stack Web Developer</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-2">
    <div class="thumbnail">
      <%=image_tag("viv.jpg", :class => "about_small_pictures")%>
      <div class="caption">
        <h4>Vivian Lin</h4>
        <p>Full Stack Web Developer</p>
      </div>
    </div>
  </div>
</div>
</div>
