<h1 id="adventureFeedTitle">My Newsfeed</h1>
<h3 id="adventureFeedTitle">New Adventures</h3>
<ul class="adventurefeed">
  <% @adventures.each do |a| %>
    <li><strong><%= link_to a.name, a %></strong>, Added on: <%=a.created_at.strftime("%B, %d, %Y")%></li>
  <% end %>
</ul>
<hr>
<div class="container blogPosts">
    <% @organized_feed.each do |post| %>
      <section>
        <h3><%= link_to post.title, post %></h3>
        <h4>By: <a href="/profile/<%=post.user.username%>"><%= post.user.username %></a></h4>
        <strong><%= post.created_at.strftime("%b, %d, %Y, %l:%M") %></strong>
        <%= truncate post.body, length: 350 %><%= link_to ' read more', post, :class => 'text-primary' %>
      <hr/>
      </section>
    <% end %>
</div>
