
<div class="container">
  <ul class="blogfeed">
    <% @feed.each do |f| %>
      <% f.each do |post| %>
        <li><h3><%= link_to post.title, post %></h3></li>
        <li><h4>By: <%= post.user.username %></h4></li>
        <li><strong><%= post.created_at.strftime("%B, %d, %Y") %></strong></li>
        <li><%= truncate post.body, length: 350 %><%= link_to ' read more', post, :class => 'text-primary' %></li>
        <hr />
      <% end %>
    <% end %>
  </ul>
</div>
