<h2>Welcome, @<%= @user.username %>!</h2><br>

<div class="container">
  <div class="col-md-4">
    <p><%= image_tag @user.image.url(:thumb) %></p>
    <br>
    <strong>Email: </strong><%= @user.email %>
    <br>
    <strong>About <%=@user.username%>: </strong><%=@user.user_description%>
    <br>
    <br>
    <p>Profile map will appear here...</p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <p>Followers will appear here...</p>
  </div>
  <div class="col-md-8">
    <h3>Your Adventures</h3>
    <% if !current_user.nil? %>
      <%= link_to 'Add New Adventure', new_adventure_path, :class =>'btn btn-default' %>
    <% end %>
    <button class="button"><%=link_to "New Post", new_post_path%></button>
    <% @posts.each do |post| %>
      <div class="post_wrapper">
        <h2 class="title"><%=link_to post.title, post%></h2>
        <p class="date"><%=post.created_at.strftime("%B, %d, %Y")%></p>
      </div>
    <% end %>
  </div>
</div>
