<h1><%=@user.username%>'s Profile</h1>

<p>
  <%= image_tag @user.image.url(:thumb) %>
</p>
<p><strong>Email: </strong><%=@user.email%></p>
<p><strong>About <%=@user.username%>:</strong> <%=@user.user_description%></p>


  <%= link_to'Follow this Explorer', user_follow_path(@user), method: :post, :class => 'btn btn-xs btn-default' %>
